{% extends 'base.html' %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a task</h1>
            <form method="post">
                <!-- form tag makes an HTTP POST (method="post") back to the same URL -->
                {% csrf_token %} <!-- creates a hidden input tag containg a security token. -->
                {{ form.as_p }} <!-- creates all the HTML for fields we defined on RecipeForm -->
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}