{% extends 'base.html' %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <h1>Create a new project</h1>
    <main>
        <div>
            <form method="post">
                <!-- form tag makes an HTTP POST (method="post") back to the same URL -->
                {% csrf_token %} <!-- csrf_token creates hidden input tag containing a security token. -->
                {{ form.as_p }} <!-- form.as_p creates all HTML for fields defined on the RecipeForm -->
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}